# :2016 {
#   reverse_proxy syncthing:8385
# }

sync.rmaki.tech {
  reverse_proxy localhost:6464
}

lib.rmaki.tech {
  reverse_proxy localhost:6465
}

files.rmaki.tech {
  reverse_proxy localhost:6466
}

torr.rmaki.tech {
  reverse_proxy localhost:6467
}
